<h1>Events#index</h1>

<%= link_to 'Add event', new_event_path(), class: 'pure-button pure-button-primary'  %>
<br />
<br />
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Address</th>
      <th></th>
      <th></th> 
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_at %></td>
        <td><%= event.end_at %></td>
        <td><%= event.address %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: 'pure-button' %></td>
        <td><%= link_to 'Remove', event_path(event.id), method: :delete, confirm: 'Are you sure?', class: 'pure-button' %></td>
      </tr>      
    <% end %>
    </tbody>
</table>
