<h1>Events#new</h1>

<%= debug @event.errors %>

<%= form_for @event do |e| %>
  <%= e.label :name %>
  <%= e.text_field :name %>
  <%= e.label :address %>
  <%= e.text_field :address %>
  <%= e.label :start_at %>
  <%= e.date_field :start_at %>
  <%= e.label :end_at %>
  <%= e.date_field :end_at %>
  <%= e.submit 'Save', class: 'pure-button' %>
<% end %>

<%= link_to 'Back to events', events_path, class: 'pure-button pure-button-primary' %>
